

<!-- Page Header -->
<!-- Navigation -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Welcome</h1>
                    <hr class="small">
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="search-div">
                <form class="form-inline">
                <%= form_tag blogs_path, :method => 'get' do %>
                <%= text_field_tag :search, params[:search],placeholder: "Search by Blog Title" %>
                <%=select("tags", "id", Tag.all.collect {|p| [ p.name, p.id ] }, { include_blank: 'All' }, {:class => 'form-control'})
%>

                <%= submit_tag "Search", :name => nil %>
                <%end%>
                </form>
            </div>

            <h2  style="margin-top: 50px;"><% if flash[:notice] %>
                <%= flash[:notice] %>
                <% end %>
                </h2>
                <% if flash[:danger] %>
                <%= flash[:danger] %>
                <% end %>

                <%if !@blogs_by_tag.blank?%>
                 <% @blogs_by_tag.each do |blog_by_tag| %>
                <div class="post-preview">

                    <h2 class="post-title">
                        <%=link_to blog_by_tag.title, blog_path(id: blog_by_tag.id)%>                    </h2>
                    <h3 class="post-subtitle">
                        <%= blog_by_tag.summary %>
                    </h3>
                    <h4 class="post-subtitle">
                        Tags: <%= blog_by_tag.taggings.map{|x|x.tag.name}.to_s.gsub('"', '') %>
                    </h4>
                    <p class="post-meta">Posted by <%=mail_to blog_by_tag.user.email, blog_by_tag.user.name%> on <%= blog_by_tag.created_at.strftime("%b %d, %Y") %></p>
                </div>
                <hr>
                <!-- Pager -->
                <%end%>
                <%end%>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

